<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Créer un Événement</title>
</head>
<body>
    <h1>Créer un Événement</h1>

    <a th:href="@{/evenement/maListEvenement}">list de mes événements</a>
    <a th:href="@{/evenement/tous}">list de tous les événements</a>
    
    <form th:action="@{/evenement/creer}" th:object="${evenement}" method="post">

        <label for="nomE">Nom :</label>
        <input type="text" id="nomE" th:field="*{nomE}" required />
        <br/>

        <label for="description">Description :</label>
        <textarea id="description" th:field="*{description}" required></textarea>
        <br/>

        <label for="adresseE">Adresse :</label>
        <input type="text" id="adresseE" th:field="*{adresseE}" required />
        <br/>

        <label for="dateDebutE">Date et heure début :</label>
        <input type="datetime-local" th:field="*{dateDebutEString}" required/>
        <br/>

        <label for="dateFinE">Date et heure fin :</label>
        <input type="datetime-local" th:field="*{dateFinEString}" required/>

        <br/>
        <button type="submit">Créer l'événement</button>
    </form>

</body>
</html>
