<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List De Posts de Mes Amis</title>
</head>
<body>

<div th:each="post : ${posts}">
    <table>
        <thead>
        <tr>
            <th colspan="2" th:text="${post.createur.prenomU + ' ' + post.createur.nomU}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="'date : '"></td>
            <td th:text="${@dateUtil.formatTimestamp(post.datePost)}"></td>
        </tr>
        <tr>
            <td colspan="2" th:text="${post.titrePost}"></td>
        </tr>
        <tr>
            <td colspan="2" th:text="${post.textePost}"></td>
        </tr>
        </tbody>
        <!-- repost le post -->
        <a th:href="@{/post/repost(id=${post.idPost})}">Reposter</a>
    </table>
</div>
<!-- retour à mon profil page -->
<a th:href="@{'/user/' + ${session.user.idUti}}">Retour à mon profil</a>


</body>
</html>