<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mes amis</title>
</head>
<body>
<h2>Liste de mes amis</h2>
<!-- Bouton pour créer une conversation de groupe -->
<p>
    <a th:href="@{/conversation/groupe/nouvelle}" style="display:inline-block; margin-bottom: 15px;">
        <button type="button">Créer une conversation de groupe</button>
    </a>
</p>

<ul>
    <li th:each="ami : ${amis}">
        <span th:text="${ami.nomU + ' ' + ami.prenomU}">Nom Prénom</span>

        <!-- Supprimer ami -->
        <form th:action="@{/user/supprimer-ami}" method="post" style="display:inline;">
            <input type="hidden" name="idAmi" th:value="${ami.idUti}" />
            <button type="submit">Supprimer</button>
        </form>

        <!-- Envoyer message -->
        <form th:action="@{/message/vers-conversation}" method="post" style="display:inline;">
            <input type="hidden" name="idAmi" th:value="${ami.idUti}" />
            <button type="submit">Envoyer un message</button>
        </form>

    </li>
</ul>


<!-- Affichage du message de succès ou d'erreur -->
<div th:if="${succes}" th:text="${succes}" style="color: green;"></div>
<div th:if="${error}" th:text="${error}" style="color: red;"></div>

<a th:href="@{/conversation/groupes}">afficher mes conversations de groupe</a>
</body>
</html>
