<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier le post</title>
</head>
<body>

<h2>Modifier le post</h2>

<form th:action="@{/post/modifier}" th:object="${post}" method="post">
    <input type="hidden" th:field="*{idPost}" />
    <div>
        <label for="titre">Titre :</label>
        <input type="text" id="titre" th:field="*{titrePost}" required />
    </div>
    <div>
        <label for="texte">Contenu :</label>
        <textarea id="texte" th:field="*{textePost}" rows="10" cols="50" required></textarea>
    </div>
    <button type="submit">Enregistrer les modifications</button>
</form>
<p>
    <a th:href="@{/user/{id}(id=${post.createur.idUti})}">Retour au profil</a>
</p>

</body>
</html>
