<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tous les Événements</title>
</head>
<body>
<h1>Tous les Événements</h1>

<a th:href="@{/evenement/creer}">Créer un nouvel événement</a>
<a th:href="@{/evenement/maListEvenement}">list de mes evenements</a>

<ul>
    <li th:each="event : ${evenements}">
        <strong th:text="${event.nomE}">Nom</strong>
        du <span th:text="${@dateUtil.formatTimestamp(event.dateDebutE)}"></span>
        au <span th:text="${@dateUtil.formatTimestamp(event.dateFinE)}"></span>
        à <span th:text="${event.adresseE}"></span>

        <div th:if="${event.createur != null}">
            <strong>Organisateur :</strong>
            <span th:text="${event.createur.nomU + ' ' + event.createur.prenomU}">Nom Prénom</span>
        </div>

        <div>
            <strong>Participants :</strong>
            <ul>
                <li th:if="${#lists.isEmpty(event.participants)}">Aucun participant</li>
                <li th:each="part : ${event.participants}" th:text="${part.nomU + ' ' + part.prenomU}"></li>
            </ul>
        </div>

        <form th:if="${!event.participants.contains(user)}" th:action="@{/evenement/rejoindre}" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${event.idEve}" />
            <button type="submit">Rejoindre</button>
        </form>

        <form th:if="${event.participants.contains(user)}" th:action="@{/evenement/quitter}" method="post" style="display:inline;">
            <input type="hidden" name="id" th:value="${event.idEve}" />
            <button type="submit">Quitter</button>
        </form>
    </li>
</ul>

</body>
</html>
