<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>Page profil</title>
</head>
<body>
<p>
  <span th:text="${user.nomU}"></span>
  <span> </span>
  <span th:text="${user.prenomU}"></span>
</p>
<table>
  <tr>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Email</th>
  </tr>
  <tr>
    <td th:text="${user.nomU}"></td>
    <td th:text="${user.prenomU}"></td>
    <td th:text="${user.emailU}"></td>
  </tr>
</table>

<th:block th:if="${session.user != null and user != null and session.user == user}">
  <a th:href="@{'/user/' + ${session.user.idUti} + '/modifierProfil'}">modifier profil</a>
  <a th:href="@{'/user/' + ${session.user.idUti} + '/modifierPassword'}">modifier password</a>

</th:block>
<p>
<a th:href="@{'/post/' + ${session.user.idUti}}">voir tout mon post</a>
</p>

<div th:each="post : ${posts}">
  <table>
    <thead>
    <tr>
      <th colspan="2" th:text="${user.prenomU + ' ' + user.nomU}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="'date : '"></td>
      <td th:text="${@dateUtil.formatTimestamp(post.datePost)}"></td>
    </tr>
    <tr>
      <td colspan="2">
        <a th:href="@{/post(id=${post.idPost})}" th:text="${post.titrePost}"></a>
      </td>
    </tr>
    <tr>
      <td colspan="2" th:text="${post.textePost}"></td>
    </tr>
    </tbody>
  </table>
</div>


<div th:if="${session.user != null and user != null and session.user == user}">
  <a href="/post/creer">Créer un post</a>
</div>

</body>
</html>